!.gitkeep
*.idea
/app/android/app/src/debug
/app/pubspec.lock
/bc/.idea
/bc/Cargo.lock
/bc/target
*.db
/test/wallet-jni-test/target/
/packages/wallet/.idea
/packages/wallet/example/pubspec.lock
/packages/wallet/pubspec.lock
/packages/walletassist/android/.idea/
/packages/walletassist/android/settings.gradle
packages/wallet_manager/android/src/main/jniLibs/arm64/*.so
.gitignore.swp
packages/wallet_manager/android/src/main/jniLibs/arm64-v8a/.gitkeep
git
.DS_Store
demo/btcwallet/.idea
demo/btcwallet/.DS_Store
demo/btcwallet/murmel/.DS_Store
demo/btcwallet/murmel/target
demo/btcwallet/murmel/client.db.0.bc
demo/btcwallet/murmel/client.db.0.bl
demo/btcwallet/murmel/client.db.0.tb
demo/btcwallet/murmel/client.db.0.lg
demo/btcwallet/murmel/client_sqlite.sqlite
demo/btcwallet/murmel/NOTICE
demo/btcwallet/murmel/bitcoin/.DS_Store
demo/btcwallet/murmel/bitcoin/target



/app/android/key.properties
/packages/wallet_manager/android/src/main/jniLibs/arm64-v8a/libwallet.so
/packages/scry_webview/.dart_tool/
/packages/wallet_manager/android/src/main/java/info/scry/wallet_manager/*.class
/app/*.flutter-plugins-dependencies
/packages/wallet_manager/example/pubspec.lock
/packages/wallet_manager/pubspec.lock
/packages/scry_webview/.packages
/packages/scry_webview/pubspec.lock
/packages/wallet_manager/example/.flutter-plugins-dependencies
/packages/scry_webview/.flutter-plugins
/packages/scry_webview/.flutter-plugins-dependencies
/packages/wallet_manager/example/ios/Flutter/flutter_export_environment.sh
