!.gitkeep
*.idea
/app/android/app/src/debug
/app/assets/config/config.json
/app/pubspec.lock
/bc/.idea
/bc/Cargo.lock
/bc/target
/bc/murmel/.idea
/bc/murmel/btc_chain.db.0.bc
/bc/murmel/btc_chain.db.0.bl
/bc/murmel/btc_chain.db.0.lg
/bc/murmel/btc_chain.db.0.tb
/bc/murmel/btc_detail.sqlite
/bc/murmel/NOTICE
/bc/murmel/.DS_Store
/bc/chain/btc/bitcoin/target
/bc/chain/btc/bitcoin/Cargo.lock
/bc/chain/btc/bitcoin/.cargo_vcs_info.json

*.db
/test/wallet-jni-test/target/
/packages/wallet/.idea
/packages/wallet/example/pubspec.lock
/packages/wallet/pubspec.lock
/packages/walletassist/android/.idea/
/packages/walletassist/android/settings.gradle
packages/wallet_manager/android/src/main/jniLibs/arm64/*.so
.gitignore.swp
packages/wallet_manager/android/src/main/jniLibs/arm64-v8a/.gitkeep
git
.DS_Store

/app/android/key.properties
/packages/wallet_manager/android/src/main/jniLibs/arm64-v8a/libwallet.so
/packages/scry_webview/.dart_tool/
/packages/wallet_manager/android/src/main/java/info/scry/wallet_manager/*.class
/app/*.flutter-plugins-dependencies
/packages/wallet_manager/example/pubspec.lock
/packages/wallet_manager/pubspec.lock
/packages/scry_webview/.packages
/packages/scry_webview/pubspec.lock
/packages/wallet_manager/example/.flutter-plugins-dependencies
/packages/scry_webview/.flutter-plugins
/packages/scry_webview/.flutter-plugins-dependencies
/packages/wallet_manager/example/ios/Flutter/flutter_export_environment.sh
/packages/scry_webview/.packages
/packages/scry_webview/pubspec.lock
/packages/wallet_manager/example/pubspec.lock
/packages/wallet_manager/pubspec.lock
/app/ios/Flutter/flutter_export_environment.sh
/app/ios/Flutter/flutter_export_environment.sh
/cashbox.code-workspace
/bc/.vscode
/packages/wallet_manager/android/src/main/jniLibs/x86_64/libwallet.so
/demo/ffi/cdl/Cargo.lock
/demo/ffi/cdl/target
/demo/ffi/flutter_app/pubspec.lock
/packages/wallets/pubspec.lock
/demo/ffi/flutter_app/android/app/src/main/jniLibs/arm64-v8a/libcdl.so
/demo/ffi/flutter_app/cdl.dll
/demo/ffi/flutter_app/dl/arm64-v8a/libcdl.so
/demo/ffi/flutter_app/dl/arm64-v8a/libwallets_cdl.so
/packages/wallets/wallets_cdl.dll
/demo/ffi/Cargo.lock
/demo/ffi/orm_diesel/Cargo.lock
/demo/ffi/orm_diesel/target
/demo/ffi/orm_diesel/Cargo.lock
/demo/ffi/orm_rbatis/target
/demo/ffi/orm_rbatis/Cargo.lock
/demo/ffi/orm_rustorm/Cargo.lock
/demo/ffi/requests.log
/demo/ffi/target
/demo/ffi/flutter_app/dl/arm64-v8a/*.so
/demo/ffi/orm_rustorm/target
/bc/generated_sql
/bc/mav/generated_sql
/bc/wallets_cdl/Cargo.lock
/bc/wallets_cdl/target
/demo/ffi/sql_sqlite/target
/bc/mav/target
/bc/mav/Cargo.lock
/packages/wallets/*.db-shm
/packages/wallets/*.db-wal
/demo/ffi/orm_rbatis/*.db-shm
/demo/ffi/orm_rbatis/*.db-wal
