!.gitkeep
*.idea
/app/android/app/src/debug
/app/pubspec.lock
/bc/.idea
/bc/Cargo.lock
/bc/target
/bc/murmel/.idea
/bc/murmel/btc_chain.db.0.bc
/bc/murmel/btc_chain.db.0.bl
/bc/murmel/btc_chain.db.0.lg
/bc/murmel/btc_chain.db.0.tb
/bc/murmel/btc_detail.sqlite
/bc/murmel/NOTICE
/bc/murmel/.DS_Store
/bc/bitcoin/target

*.db
/test/wallet-jni-test/target/
/packages/wallet/.idea
/packages/wallet/example/pubspec.lock
/packages/wallet/pubspec.lock
/packages/walletassist/android/.idea/
/packages/walletassist/android/settings.gradle
packages/wallet_manager/android/src/main/jniLibs/arm64/*.so
.gitignore.swp
packages/wallet_manager/android/src/main/jniLibs/arm64-v8a/.gitkeep
git
.DS_Store

/app/android/key.properties
/packages/wallet_manager/android/src/main/jniLibs/arm64-v8a/libwallet.so
/packages/scry_webview/.dart_tool/
/packages/wallet_manager/android/src/main/java/info/scry/wallet_manager/*.class
/app/*.flutter-plugins-dependencies
/packages/wallet_manager/example/pubspec.lock
/packages/wallet_manager/pubspec.lock
/packages/scry_webview/.packages
/packages/scry_webview/pubspec.lock
/packages/wallet_manager/example/.flutter-plugins-dependencies
/packages/scry_webview/.flutter-plugins
/packages/scry_webview/.flutter-plugins-dependencies
/packages/wallet_manager/example/ios/Flutter/flutter_export_environment.sh
/packages/scry_webview/.packages
/packages/scry_webview/pubspec.lock
/packages/wallet_manager/example/pubspec.lock
/packages/wallet_manager/pubspec.lock
/app/ios/Flutter/flutter_export_environment.sh
/app/ios/Flutter/flutter_export_environment.sh
/cashbox.code-workspace
/bc/.vscode
/packages/wallet_manager/android/src/main/jniLibs/x86_64/libwallet.so
/demo/ffi/cdl/Cargo.lock
/demo/ffi/cdl/target
/demo/ffi/flutter_app/pubspec.lock
